$main-color:#008489;
$text-color:#828282;

$nav-textsize:15px;

body{
    padding-top: 85px;
}

@media(max-width: 991px){
   body{
    padding-top: 0px;
    margin: 0px;
   } 

}

/*PCの場合*/
.pc	{ display:inline!important; }
.mb	{ display:none!important; }
@media screen and (max-width: 991px) {
/*タブレット、スマホの場合*/
.pc	{ display:none!important; }
.mb { display:inline!important; }
}

.main-img{
    position: relative;

}

.mb-icon{
    
    position: absolute;
    bottom: 88%;
    left: 3%;
    color: $main-color;
}


nav{
    .fa-at{
        color: $main-color;
    }
    
    ul{
        
        .nav-color{
            color: $main-color;
            border-bottom:2px solid $main-color;
            font-size: $nav-textsize;
            line-height: 65px;
        }
        .nav-text{
            color: $text-color;
            font-size: $nav-textsize;
            line-height: 65px;
        }
    }
   
    .month{
        font-size: 15px;
    }
    .money{
        font-size: 22px;
        color: #333333;
    }

    .btn-danger{
        span{
            font-size: 14px;
        }
    }
}

.card{
    width: 457px;
    height: 480px;
    position: absolute;
    top: 72px;
    right: 95px;
}

.card-title{
    line-height: 40px;
    color: #333333;
    padding-bottom: 10px;
}





.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}



